$accent-color-blue: #52b7c1;
$accent-color-orange: #ffa600;
$color-white: #ffffff;
$text-color-dark-blue: #2d3c4d;
$text-color-black: #000000;

// german flag
$german-flag-black: #000000;
$german-flag-red: #bb232a;
$german-flag-golden: #ffa600;
